include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    script(src='/assets/main.js')
    script(src='/assets/vendors~app.main.js')
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Task Manager
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='true', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Home
        ul.navbar-nav.float-right
          if isSignedIn()
            li.nav-item
              a.nav-link(href=urlFor('users#list')) Users List
            li.nav-item
              a.nav-link(href=urlFor('tasks#list')) Task List
            li.nav-item
              a.nav-link(href=urlFor('users#profile', { id: signedId() })) Profile
            li.nav-item
              a.nav-link(href=urlFor('sessions#destroy') data-method='delete' rel='nofollow') Log Out
          else
            li.nav-item
              a.nav-link(href=urlFor('sessions#new')) Log In
            li.nav-item
              a.nav-link(href=urlFor('users#new')) Sign Up
 
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
    block content
