include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Task Manager
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Home
        ul.navbar-nav.float-right
          li.nav-item
            a.nav-link(href='/login') Login
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Settings

              if isSignedIn()
            .col-4
              .d-flex.justify-content-center
                a.navbar-link.ml-2(href=urlFor('users list'))
                  i.mr-1.fa.fa-users.fa-3x(aria-hidden='true')
                  span.text-center Users 
                a.navbar-link.ml-2(href=urlFor('tasks'))
                  i.mr-1.fa.fa-list.fa-3x(aria-hidden='true')
                  span.text-center Tasks                  
                
            .col-4
              .d-flex.justify-content-end
                nav.btn-group
                  a.btn.btn-outline-primary(href=urlFor('profile', { id: signedId() })) Account
                  a.btn.btn-outline-danger(href=urlFor('session') rel='nofollow' data-method='delete') Log Out
          else
            .col-8
              .d-flex.justify-content-end
                nav.btn-group
                  a.btn.btn-outline-primary(href=urlFor('reg form')) Sign Up
                  a.btn.btn-outline-success(href=urlFor('newSession')) Log In
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
    block content
