- const getInputName = (f, property) => `${f.name}[${property}]`

mixin input(f, property, image, options = { as: 'text' }) 
  - const value = f.object[property] === undefined ? '' : f.object[property]
    .input-group.margin-bottom-sm(class=(f.errors[property] && 'has-danger'))    
      span.input-group-addon
        i(aria-hidden='true' class=`${image}`)
      input(name=getInputName(f, property) class='form-control' type=options['as'] value=`${value}` placeholder=`${property}`)
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin textarea(f, property)
  - const value = f.object[property] === undefined ? '' : f.object[property]
    form-group(class=(f.errors[property] && 'has-danger'))
      textarea(name=getInputName(f, property) class='form-control' type='text' value=`${value}` placeholder=`${property}` rows='4' maxlength="255")
      if f.errors[property]
        .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ') 

mixin fieldset(f, property, value) 
  form-group(class=(f.errors[property] && 'has-danger'))
    fieldset(disabled='')
      input(name=getInputName(f, property) class='form-control' type='text' value=`${value}` placeholder=`${property}`)
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin select(f, property, image, users) 
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .input-group.margin-bottom-sm(class=(f.errors[property] && 'has-danger'))    
    span.input-group-addon
      i(aria-hidden='true' class=`${image}`)
    select(name=getInputName(f, property) class='form-control' value=`${value}`)
      option(selected='') Assigned to
      each user in users
        option(value= user.id)= user.fullName
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')
        
mixin button(value, type = 'submit')
  .mt-3.form-group
    input(class='btn btn-outline-success btn-block' type=`${type}` value=`${value}`)