extends /layouts/app.pug

block content
  .row.justify-content-center.mt-4
    form(method='GET', action=urlFor('new task'))
      button(type='submit' class='btn btn-success btn-lg')
        i.fa.fa-ticket(aria-hidden='true') New Task         
  
  form.form-inline.justify-content-center.mt-4(action=urlFor('tasks'))
    button(type='submit' class='btn btn-warning' name='creatorId' value=signedId())
      i.fa.fa-ticket(aria-hidden='true') My tasks 
      
    .form-group.ml-4
      label.mr-2 Status:
      select(name='StatusId' class='form-control' value='StatusId')
        option All
        each status in statuses
          option(value= status.id)= status.name
          
    .form-group.ml-4
      label.mr-2 Assigned to:
      select(name='assignedToId' class='form-control')
        option All
        each user in users
          option(value= user.id)= user.fullName
          
    .form-group.ml-4
      button(class='btn btn-primary' type='submit')
        i.mr-1.fa.fa-search
        | Search                  
         
  .row.justify-content-center.mt-4
    .col-lg-4
      table.table.table-stripped
        h2.text-center.mb-4 Tasks
          tr
            th.text-center ID
            th.text-center Name
            th.text-center Status
            th.text-center AssignedTo
            th.text-center Created by
            th.text-center createdAt
            th.text-center Delete
            
        tbody
          each task in tasks
            tr
              td.text-center= task.id
              td.text-center
                a(href=urlFor('task', { id: task.id }))= task.name
              td.text-center= task.status
              td.text-center= task.assignedTo
              td.text-center= task.creator
              td.text-center= changeFormat(task.createdAt, 'DD/MM/YYYY')
              td.align-items-center
                if task.creatorId == signedId()                  
                  form(method='POST', action=urlFor('patch task', { id: task.id }))
                    input(type='hidden', name='_method', value='DELETE')
                    button(type='submit' class='btn btn-danger')
                      i.fa.fa-trash-o(aria-hidden='true')